<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-image: url({{ url_for('static', filename='img/bg-img.jpeg') }});
            background-repeat: no-repeat;
        }
        h1 {
            background-color: yellow;
            text-align: center;
            font-family: sans-serif;
            color: blue;
        }
    </style>
</head>
<body>
   <h1> Hello {{ name }}</h1>
</body>
</html>